#logo{
	width: 120px;
	border-radius: 5px;
}
.nav-link{
	font-weight: bold;
	margin-left: 50px;
}

.container {
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    max-width: inherit;
}
